@model ULA.Quijano.ProcesoLegal.Json.PosicionClienteJson

@{
    ViewBag.Title = "PosicionCliente";
    Layout = "~/Views/Shared/_LayoutPopUp.cshtml";
}

<h3><i class="fa fa-code-fork"></i>&nbsp;Trámites De Workflow</h3>

<table id="tableDetalleTramites" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Tipo Solicitud</th>
            <th>Sucursal</th>
            <th>Fecha</th>
            <th>Monto</th>
            <th>Decisión</th>
            <th>Solicitud</th>
            <th>Usuario</th>
        </tr>

    </thead>
    <tbody>
        @if (Model.listTramitesWorkflow != null)
        {
            foreach (var item in Model.listTramitesWorkflow.ToList())
            {
                <tr>

                    <td>@item.TipoSolicitud</td>
                    <td>@item.Sucursal</td>
                    <td>@item.Fecha</td>
                    <td>@item.Monto</td>
                    <td>@item.Decision</td>
                    <td>@item.Solicitud</td>
                    <td>@item.Usuario</td>

                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="7" align="center">No hay registros</td>
            </tr>

        }
    </tbody>







</table>

<h3><i class="fa fa-street-view"></i>&nbsp;Posición del Cliente</h3>



<h4><i class="fa fa-arrow-circle-left"></i>&nbsp;Pasivos</h4>
<table id="tableDetallePasivos" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Número de Cuenta</th>
            <th>Tipo Cuenta</th>
            <th>Fecha Inicio</th>
            <th>Fecha Vencimiento</th>
            <th>Saldo Actual</th>
            <th>Saldo Disponible</th>
            <th>Condición Cuenta</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.listPosicionClientePasivos != null)
        {
            foreach (var item in Model.listPosicionClientePasivos.ToList())
            {
                <tr>

                    <td>@item.NumeroCuenta</td>
                    <td>@item.TipoCuenta</td>
                    <td>@item.FechaInicio</td>
                    <td>@item.FechaVencimiento</td>
                    <td>@item.SaldoActual</td>
                    <td>@item.SaldoDisponible</td>
                    <td>@item.CondicionCuenta</td>

                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="7" align="center">NO HAY REGISTROS</td>
            </tr>
        }
    </tbody>
</table>

<h4><i class="fa fa-arrow-circle-right"></i>&nbsp;Activos</h4>

<table id="tableDetalleActivos" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Número de Cuenta</th>
            <th>Tipo Cuenta</th>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
            <th>Saldo Actual</th>
            <th>Mensualidad</th>
            <th>Forma de Pago</th>
            <th>Valor Garantía</th>
            <th>Condición Cuenta</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.listPosicionClienteActivos != null)
        {
            foreach (var item in Model.listPosicionClienteActivos.ToList())
            {
                <tr>

                    <td>@item.NumeroCuenta</td>
                    <td>@item.TipoCuenta</td>
                    <td>@item.FechaInicio</td>
                    <td>@item.FechaVencimiento</td>
                    <td>@item.SaldoActual</td>
                    <td>@item.Mensualidad</td>
                    <td>@item.FormaPago</td>
                    <td>@item.ValorGarantia</td>
                    <td>@item.CondicionCuenta</td>

                </tr>
            }
        }
    </tbody>
</table>

<br />
<label class="control-label ControlsForms">Posición Neta: 158,192.00</label>
<br />




@section scripts{

    @Scripts.Render("~/Scripts/Ultimus-PosicionCliente")

}
